._1WUHp {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  opacity: 1;
  z-index: 9999; }
  ._1WUHp._1CIZH {
    position: absolute !important; }
  ._1WUHp ._3eG1G {
    width: 100%;
    height: 100%;
    display: table;
    user-select: text; }
    ._1WUHp ._3eG1G ._2yi1U {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

._2dQf4 {
  width: 500px;
  height: 400px; }

