._3zZ7Y {
  display: none !important; }

._3brcB {
  text-align: center;
  margin-top: 28px;
  justify-content: space-around; }
  ._3brcB ._1lMml {
    border-right: 1px solid rgba(48, 53, 63, 0.1); }
  ._3brcB a {
    margin: 0 10px; }
  ._3brcB ._1qB0l {
    font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px; }

._3MksF {
  padding: 0 10px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

.MtHnl {
  margin-bottom: 26px; }

.BDm0e {
  background: white;
  height: 100%; }

.oRM4e {
  height: calc(100vh - 145px);
  overflow-y: auto; }

._28hd5 {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px;
  position: relative;
  height: 100%; }

._1KX_q {
  display: flex;
  width: 100%; }

._1s6rw {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #3F4E66; }

._15WNX {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #525A6B; }

._3G4xT {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }

.WU8DN {
  background: white;
  min-width: 200px;
  width: 200px;
  height: 200px;
  overflow: hidden; }
  .WU8DN img {
    max-width: 200px;
    max-height: 200px;
    width: 100%; }

._3B_Kg {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 8%;
  position: relative;
  height: 100%; }

.sB8Hr {
  padding: 12px;
  margin-left: 30px;
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

._1X98f {
  border-left: solid 1px rgba(48, 53, 63, 0.1);
  padding-left: 16px;
  min-height: 60px; }
  ._1X98f:first-child {
    border-left: none;
    padding-left: 0; }
  @media only screen and (max-width: 767px) {
    ._1X98f {
      border-left: none;
      padding-left: 0; } }

._113CP {
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #3F4E66;
  letter-spacing: 0.37px;
  line-height: 22px; }

._2jXnv {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #525A6B;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  list-style: none;
  padding-left: 0; }

.f6a3c {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }
  .f6a3c img {
    max-width: 100%;
    height: auto !important; }

._3-chP {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #2887F2;
  text-align: left;
  line-height: 22px; }

._3bQHG {
  position: fixed;
  right: 20px;
  bottom: 20px; }

._3P1M5 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  padding-left: 20px; }

.qgmSL {
  margin-left: -20px; }

._2DFu9 {
  padding-left: 20px; }

._1Wxxo {
  margin: 15px 0; }
  ._1Wxxo span {
    color: #8A96AF; }

.w7RVe {
  height: 54px;
  display: flex;
  align-items: center; }

._2BZTG {
  margin-top: 20px; }

._3_DBD {
  margin: 30px 0;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #30353F;
  font-size: 20px; }

._3KOPD {
  margin-right: 10px; }

._35aql {
  margin: 20px 0; }

._1rIT2 {
  padding: 0 7px; }

.JUHGi {
  padding: 0 7px; }

._12gZU {
  padding: 20px; }

._1FbwP {
  padding: 0; }

._2BGgy {
  height: calc(100vh - 51px);
  background: white;
  border-right: 1px solid #d4d4d4; }

._3ybTC {
  overflow-y: auto; }

._1KmSy {
  margin-bottom: 5px; }
  ._1KmSy label {
    font-size: 14px; }

._3tQmF {
  height: calc(100vh - 71px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  ._3tQmF h3 {
    font-size: 28px; }

._3kGbe {
  display: flex;
  justify-content: center;
  padding: 25px 0; }

._1A8Kx {
  flex: 0.6 !important;
  padding: 10px 20px; }
  ._1A8Kx button {
    margin: 10px 0; }

.ggYGQ {
  flex: 1 !important;
  padding: 0 20px; }
  .ggYGQ form div {
    display: flex;
    padding: 10px 0; }
    .ggYGQ form div label {
      flex-basis: 120px; }
    .ggYGQ form div input,
    .ggYGQ form div select,
    .ggYGQ form div textarea {
      flex: 1; }

._2sX02 {
  list-style: none;
  padding: 0px 0;
  margin: 0; }
  ._2sX02 li {
    cursor: pointer;
    float: left;
    margin-left: 10px; }
    ._2sX02 li:hover {
      text-decoration: underline; }

._2_raz {
  background-color: #121920;
  display: flex;
  align-items: center;
  padding: 2px 10px; }
  ._2_raz div {
    font-size: 18px;
    color: white;
    top: 10px;
    position: relative;
    left: 10px; }

._3qf7X {
  width: 30px;
  height: 30px; }

._31P-U {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 104px); }

._1LKz9 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

._3H6Hx {
  border-radius: 40px;
  padding: 18px 30px;
  line-height: 0;
  cursor: pointer;
  z-index: 2; }

.Aa_av {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 0 !important; }
  .Aa_av:active, .Aa_av.pMrnu {
    opacity: .6; }

._1aVSc {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  border: solid 1px #8A96AF;
  color: #8A96AF;
  padding: 0 10px;
  border-radius: 15px; }
  ._1aVSc:focus {
    border: solid 1px #8A96AF;
    color: #8A96AF; }
  ._1aVSc:hover {
    background-color: #73DB9B;
    opacity: .6;
    color: white;
    border-color: #73DB9B; }
    @media only screen and (max-width: 991px) {
      ._1aVSc:hover {
        border: solid 1px #8A96AF;
        color: #8A96AF;
        opacity: 1;
        background-color: white; } }
  ._1aVSc.pMrnu {
    background-color: #73DB9B;
    opacity: 1;
    color: white;
    border-color: #73DB9B; }
  ._1aVSc._2j5aj {
    border: solid 1px #EBEBEB;
    color: #64C489;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 1; }
    ._1aVSc._2j5aj i {
      color: black; }
    ._1aVSc._2j5aj:hover {
      background-color: white;
      color: #64C489; }
    ._1aVSc._2j5aj:active, ._1aVSc._2j5aj.pMrnu {
      background-color: white;
      color: #64C489; }
  @media only screen and (max-width: 767px) {
    ._1aVSc {
      border-radius: 6px;
      color: #788EA9;
      font-size: 13px;
      border: 1px solid rgba(138, 150, 175, 0.5); } }

._2p0Gy {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

._1kD8w {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

._3J8Wl, .GHCNR {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #297BFF;
  background-color: white;
  color: #297BFF;
  line-height: 0 !important; }
  ._3J8Wl:hover, .GHCNR:hover {
    opacity: .6;
    background-color: white;
    color: #297BFF; }
  ._3J8Wl[disabled], .GHCNR[disabled] {
    opacity: .6;
    background-color: #297BFF;
    color: white; }
  @media only screen and (max-width: 767px) {
    ._3J8Wl, .GHCNR {
      border-radius: 4px;
      border-color: "unquote('#8a96af80')";
      color: #00B9FF; } }

.GHCNR {
  padding: 9px 20px !important; }

._3Tjg9 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #297BFF;
  background-color: #297BFF;
  padding: 18px 30px;
  color: white;
  line-height: 0 !important;
  height: 40px; }
  ._3Tjg9:hover {
    opacity: .6;
    background-color: #297BFF;
    color: white; }
  @media only screen and (max-width: 767px) {
    ._3Tjg9 {
      border-radius: 4px;
      border: solid 1px #00B9FF;
      background-color: #00B9FF; }
      ._3Tjg9:hover {
        background-color: #00B9FF; } }

._2diR9 {
  background-color: #EE6B6B;
  border: solid 1px #EE6B6B;
  color: white;
  line-height: 0 !important;
  height: 40px; }
  ._2diR9:hover, ._2diR9:focus {
    background-color: white;
    border: solid 1px #EE6B6B;
    color: #EE6B6B; }
  ._2diR9:active, ._2diR9.pMrnu {
    background-color: #EE6B6B;
    border: solid 1px #EE6B6B;
    color: white; }

._1D6aA {
  background-color: #6e87f5;
  border: solid 1px #6e87f5;
  color: white;
  line-height: 0 !important; }
  ._1D6aA:hover, ._1D6aA:focus {
    background-color: white;
    border: solid 1px #6e87f5;
    color: #6e87f5; }
  ._1D6aA.pMrnu, ._1D6aA:active {
    background-color: #6e87f5;
    border: solid 1px #6e87f5;
    color: white; }

.pDwQN {
  background-color: #4CB9F9;
  border: solid 1px #4CB9F9;
  color: white;
  line-height: 0 !important; }
  .pDwQN:hover, .pDwQN:focus {
    background-color: white;
    border: solid 1px #4CB9F9;
    color: #4CB9F9; }
  .pDwQN.pMrnu, .pDwQN:active {
    background-color: #4CB9F9;
    border: solid 1px #4CB9F9;
    color: white; }

._3LjHA {
  background-color: #21cba5;
  border: solid 1px #21cba5;
  color: white;
  line-height: 0 !important; }
  ._3LjHA:hover, ._3LjHA:focus {
    background-color: white;
    border: solid 1px #21cba5;
    color: #21cba5; }
  ._3LjHA.pMrnu, ._3LjHA:active {
    background-color: #21cba5;
    border: solid 1px #21cba5;
    color: white; }

._2J2rG {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  border: solid 1px #00B9FF;
  border-radius: 4px;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  color: rgba(0, 185, 255, 0.73);
  line-height: 20px !important; }
  ._2J2rG:hover {
    opacity: .6;
    background-color: transparent;
    color: rgba(0, 185, 255, 0.73); }
  ._2J2rG.x9tSL {
    font-size: 14px;
    padding: 15px;
    color: #00B9FF;
    line-height: 0 !important; }

.UvHqa {
  width: 7px;
  margin-left: 10px; }

