._3zZ7Y {
  display: none !important; }

._3brcB {
  text-align: center;
  margin-top: 28px;
  justify-content: space-around; }
  ._3brcB ._1lMml {
    border-right: 1px solid rgba(48, 53, 63, 0.1); }
  ._3brcB a {
    margin: 0 10px; }
  ._3brcB ._1qB0l {
    font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px; }

._3MksF {
  padding: 0 10px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

.MtHnl {
  margin-bottom: 26px; }

.BDm0e {
  background: white;
  height: 100%; }

.oRM4e {
  height: calc(100vh - 145px);
  overflow-y: auto; }

._28hd5 {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px;
  position: relative;
  height: 100%; }

._1KX_q {
  display: flex;
  width: 100%; }

._1s6rw {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #3F4E66; }

._15WNX {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #525A6B; }

._3G4xT {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }

.WU8DN {
  background: white;
  min-width: 200px;
  width: 200px;
  height: 200px;
  overflow: hidden; }
  .WU8DN img {
    max-width: 200px;
    max-height: 200px;
    width: 100%; }

._3B_Kg {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 8%;
  position: relative;
  height: 100%; }

.sB8Hr {
  padding: 12px;
  margin-left: 30px;
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

._1X98f {
  border-left: solid 1px rgba(48, 53, 63, 0.1);
  padding-left: 16px;
  min-height: 60px; }
  ._1X98f:first-child {
    border-left: none;
    padding-left: 0; }
  @media only screen and (max-width: 767px) {
    ._1X98f {
      border-left: none;
      padding-left: 0; } }

._113CP {
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #3F4E66;
  letter-spacing: 0.37px;
  line-height: 22px; }

._2jXnv {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #525A6B;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  list-style: none;
  padding-left: 0; }

.f6a3c {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }
  .f6a3c img {
    max-width: 100%;
    height: auto !important; }

._3-chP {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #2887F2;
  text-align: left;
  line-height: 22px; }

._3bQHG {
  position: fixed;
  right: 20px;
  bottom: 20px; }

._3P1M5 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  padding-left: 20px; }

.qgmSL {
  margin-left: -20px; }

._2DFu9 {
  padding-left: 20px; }

._1Wxxo {
  margin: 15px 0; }
  ._1Wxxo span {
    color: #8A96AF; }

.w7RVe {
  height: 54px;
  display: flex;
  align-items: center; }

._2BZTG {
  margin-top: 20px; }

._3_DBD {
  margin: 30px 0;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #30353F;
  font-size: 20px; }

._3KOPD {
  margin-right: 10px; }

._35aql {
  margin: 20px 0; }

._1rIT2 {
  padding: 0 7px; }

.JUHGi {
  padding: 0 7px; }

._12gZU {
  padding: 20px; }

._1FbwP {
  padding: 0; }

._2BGgy {
  height: calc(100vh - 51px);
  background: white;
  border-right: 1px solid #d4d4d4; }

._3ybTC {
  overflow-y: auto; }

._1KmSy {
  margin-bottom: 5px; }
  ._1KmSy label {
    font-size: 14px; }

._3tQmF {
  height: calc(100vh - 71px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  ._3tQmF h3 {
    font-size: 28px; }

._3kGbe {
  display: flex;
  justify-content: center;
  padding: 25px 0; }

._1A8Kx {
  flex: 0.6 !important;
  padding: 10px 20px; }
  ._1A8Kx button {
    margin: 10px 0; }

.ggYGQ {
  flex: 1 !important;
  padding: 0 20px; }
  .ggYGQ form div {
    display: flex;
    padding: 10px 0; }
    .ggYGQ form div label {
      flex-basis: 120px; }
    .ggYGQ form div input,
    .ggYGQ form div select,
    .ggYGQ form div textarea {
      flex: 1; }

._2sX02 {
  list-style: none;
  padding: 0px 0;
  margin: 0; }
  ._2sX02 li {
    cursor: pointer;
    float: left;
    margin-left: 10px; }
    ._2sX02 li:hover {
      text-decoration: underline; }

._2_raz {
  background-color: #121920;
  display: flex;
  align-items: center;
  padding: 2px 10px; }
  ._2_raz div {
    font-size: 18px;
    color: white;
    top: 10px;
    position: relative;
    left: 10px; }

._3qf7X {
  width: 30px;
  height: 30px; }

._31P-U {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 104px); }

._1LKz9 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

