.qUEZU {
  background-color: #f9fafc;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  top: 0;
  padding: 20px 0; }
  @media only screen and (max-width: 991px) {
    .qUEZU {
      margin: 0;
      padding: 20px 0 0; } }

._2wUhD {
  background: transparent;
  padding: 0; }
  @media only screen and (max-width: 991px) {
    ._2wUhD {
      height: 46px;
      margin: 0; } }

._1GQax {
  background: transparent;
  margin: 0 auto;
  padding: 0 7px;
  width: 100%; }
  @media (min-width: 576px) {
    ._1GQax {
      width: 540px; } }
  @media (min-width: 768px) {
    ._1GQax {
      width: 720px; } }
  @media (min-width: 992px) {
    ._1GQax {
      width: 960px; } }
  @media (min-width: 1200px) {
    ._1GQax {
      width: 1155px; } }
  @media only screen and (max-width: 767px) {
    ._1GQax {
      margin-top: 6px; } }

._1YDiP {
  font-size: 14px;
  padding-left: 17px;
  height: auto;
  line-height: 14px;
  list-style: none;
  border-left: solid 3px transparent; }
  ._1YDiP:hover, ._1YDiP._2lprE {
    background-color: #EDF3F4;
    border-left: solid 3px #267BFF; }

._24-zI, .hPP31 li {
  font-size: 14px;
  padding-left: 17px;
  height: 47px;
  line-height: 37px;
  list-style: none;
  border-left: solid 3px transparent;
  width: 100%; }
  ._24-zI:first-child, .hPP31 li:first-child {
    border-radius: 6px 6px 0 0; }
  ._24-zI:last-child, .hPP31 li:last-child {
    border-radius: 0 0 6px 6px; }
  ._24-zI:hover, .hPP31 li:hover, ._24-zI._2lprE, .hPP31 li._2lprE {
    background-color: #EDF3F4;
    border-left: solid 3px #267BFF; }
  ._24-zI div, .hPP31 li div {
    padding-left: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
    height: 47px;
    line-height: 37px;
    list-style: none;
    border-left: solid 3px transparent; }
    ._24-zI div:hover, .hPP31 li div:hover, ._24-zI div._2lprE, .hPP31 li div._2lprE {
      background-color: #EDF3F4; }

.hPP31 {
  background: white;
  width: 282px;
  border-radius: 6px;
  box-shadow: 0 4px 7px rgba(5, 53, 134, 0.17);
  padding: 0; }

.REHdq h3 {
  color: #37414B;
  font-size: 16px;
  text-align: center;
  line-height: 2;
  font-family: "Poppins SemiBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  letter-spacing: 1.78px; }

._2IAsE {
  z-index: 99;
  cursor: pointer;
  position: relative;
  display: block;
  outline: 0;
  height: 74px;
  float: left; }
  @media only screen and (max-width: 991px) {
    ._2IAsE {
      height: 36px;
      position: absolute;
      left: 8px; } }

._2huEl {
  background: transparent;
  border: 0;
  float: right;
  line-height: 2;
  padding-top: 6px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._2huEl {
      padding-top: 0; } }

._27GOD {
  border: solid 1px transparent !important;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  text-align: center;
  transition: none;
  line-height: 1;
  margin-left: 6px;
  padding-right: 0;
  top: 2px !important; }
  ._27GOD ._1oAVW {
    color: #297BFF !important;
    line-height: 2;
    text-align: right;
    margin-right: 2px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._27GOD {
      font-size: 11px; } }

._1_5ot {
  border: solid 1px transparent !important;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #30353F !important;
  text-align: center;
  padding: 7px 13px;
  transition: none;
  line-height: 1;
  margin: 0 6px; }
  ._1_5ot ._1W_n_ {
    color: #30353F !important; }
  ._1_5ot ._3KFRQ {
    margin-left: 5px;
    width: 12px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      ._1_5ot ._3KFRQ {
        padding-left: 0; } }
  ._1_5ot > a {
    color: #30353F !important; }
  ._1_5ot:hover, ._1_5ot._2lprE {
    border: solid 1px #889398 !important;
    border-radius: 15px;
    color: #30353F !important; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._1_5ot {
      font-size: 11px;
      padding: 5px 10px;
      margin: 0 3px; } }

._1rrrh {
  background: white;
  display: block;
  top: 0;
  transition: all 0.8s !important;
  width: 100% !important;
  z-index: 1110 !important; }

._3Lu8z {
  line-height: 3;
  padding-top: 2px; }

.xngRp {
  height: 26px;
  vertical-align: top;
  width: 26px; }

._39Np5 {
  padding: 15px; }

._2elu_ {
  float: right;
  color: #00B9FF;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
  margin: 10px; }

._2l4ia {
  width: 83px;
  text-decoration: none !important; }

._1c5lG {
  border: none;
  padding-top: 40px; }

.X8lBH._1a8tS {
  background: transparent; }
  .X8lBH._1a8tS a {
    color: #1890ff; }
  .X8lBH._1a8tS:after {
    display: none; }

.X8lBH a {
  color: #333333; }

.X8lBH._37RWA a {
  color: #1890ff; }

.X8lBH div {
  text-transform: capitalize; }

._2e-Oz {
  background: transparent !important; }
  ._2e-Oz::after {
    display: none; }
  ._2e-Oz._2oBuw {
    background: transparent; }
    ._2e-Oz._2oBuw a {
      color: #1890ff; }

._3Hy1x {
  display: none !important; }

.PXzX2 {
  border: none !important;
  outline: none; }
  .PXzX2 ._1oAVW {
    color: #297BFF !important;
    line-height: 2.3;
    text-align: right;
    margin-right: 2px; }
    .PXzX2 ._1oAVW:hover, .PXzX2 ._1oAVW:focus, .PXzX2 ._1oAVW:active {
      opacity: 0.9; }

._2_sqa {
  background: white;
  width: 282px;
  border-radius: 6px;
  box-shadow: 0 4px 7px rgba(5, 53, 134, 0.17);
  padding: 0; }
  ._2_sqa li {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #646E83;
    list-style: none;
    border-left: solid 3px transparent; }
    ._2_sqa li:first-child {
      border-radius: 6px 6px 0 0; }
    ._2_sqa li:last-child {
      border-radius: 0 0 6px 6px; }
    ._2_sqa li:hover, ._2_sqa li._2lprE {
      background-color: #EDF3F4;
      border-left: solid 3px #267BFF; }

.i_igk {
  z-index: 1111; }

._1Ts-h {
  font-size: 24px;
  width: 24px; }

._3kM8k {
  width: 270px;
  z-index: 1051 !important; }
  ._3kM8k._2Pwql > div {
    border-left: solid 3px transparent;
    color: #646E83;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 37px;
    list-style: none;
    width: 100%; }
    ._3kM8k._2Pwql > div:hover, ._3kM8k._2Pwql > div._2lprE {
      background-color: #EDF3F4;
      border-left: solid 3px #267BFF; }
  ._3kM8k ul {
    padding: 0; }

.fTUMU {
  padding-top: 5px; }
  .fTUMU h3 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #646E83;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .fTUMU h4 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    color: #788EA9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

._201WA {
  border-radius: 50%; }

._6sC_d {
  background: #8A96AF;
  border-radius: 50%;
  height: 35px;
  width: 35px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._6sC_d {
      height: 30px;
      width: 30px; } }

.uUYMc {
  background: #EE6B6B;
  color: white;
  border-radius: 50%;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 36px;
  width: 36px;
  font-size: 18px;
  margin: 0 auto; }

._2htTF {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #646E83;
  text-align: center;
  margin-bottom: 10px; }

._1_YaS {
  display: flex;
  justify-content: center;
  padding: 40px 0; }
  @media only screen and (max-width: 991px) {
    ._1_YaS {
      padding: 30px 15px; } }

._3nOjl {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #297BFF;
  margin: 0 auto;
  width: 30%;
  text-align: center; }
  ._3nOjl:focus, ._3nOjl:hover, ._3nOjl:active {
    color: #297BFF;
    text-decoration: underline; }
  @media only screen and (max-width: 767px) {
    ._3nOjl {
      color: #00B9FF; }
      ._3nOjl:focus, ._3nOjl:hover, ._3nOjl:active {
        color: #00B9FF;
        text-decoration: underline; } }

.VuFvd {
  display: inline-block;
  width: 42px;
  height: 42px; }
  .VuFvd:hover, .VuFvd:active, .VuFvd:focus {
    background-color: transparent; }

._3gi9f {
  display: none !important; }

._1DN0K {
  margin: 20px auto;
  min-height: calc(100vh - 290px);
  width: 100%; }
  @media (min-width: 576px) {
    ._1DN0K {
      width: 540px; } }
  @media (min-width: 768px) {
    ._1DN0K {
      width: 720px; } }
  @media (min-width: 992px) {
    ._1DN0K {
      width: 960px; } }
  @media (min-width: 1200px) {
    ._1DN0K {
      width: 1155px; } }
  @media only screen and (min-width: 992px) {
    ._1DN0K {
      min-height: calc(100vh - 295px); } }
  @media only screen and (max-width: 767px) {
    ._1DN0K {
      margin: 0 auto; } }

._2Gaxe {
  background: #f9fafc;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

._2wogh {
  border-top: 1px solid rgba(48, 53, 63, 0.1); }

._1q430 {
  display: none; }

._3Zhbv {
  width: calc(100% - 60px);
  padding: 12px 0; }

._2kv4u, .fMGyi, ._33Z1- {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px; }

.fMGyi {
  color: #297BFF !important; }
  .fMGyi:focus {
    text-decoration: none; }
  @media only screen and (max-width: 767px) {
    .fMGyi {
      color: #00B9FF !important; } }
  @media only screen and (max-width: 320px) {
    .fMGyi {
      font-size: 16px; } }

._33Z1- {
  color: #30353F;
  display: inline;
  word-break: break-word; }
  @media only screen and (max-width: 767px) {
    ._33Z1- {
      color: #333333; } }
  @media only screen and (max-width: 320px) {
    ._33Z1- {
      font-size: 16px; } }

._2164r {
  font-size: 20px; }

._3H6Hx {
  border-radius: 40px;
  padding: 18px 30px;
  line-height: 0;
  cursor: pointer;
  z-index: 2; }

.Aa_av {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 0 !important; }
  .Aa_av:active, .Aa_av.pMrnu {
    opacity: .6; }

._1aVSc {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  border: solid 1px #8A96AF;
  color: #8A96AF;
  padding: 0 10px;
  border-radius: 15px; }
  ._1aVSc:focus {
    border: solid 1px #8A96AF;
    color: #8A96AF; }
  ._1aVSc:hover {
    background-color: #73DB9B;
    opacity: .6;
    color: white;
    border-color: #73DB9B; }
    @media only screen and (max-width: 991px) {
      ._1aVSc:hover {
        border: solid 1px #8A96AF;
        color: #8A96AF;
        opacity: 1;
        background-color: white; } }
  ._1aVSc.pMrnu {
    background-color: #73DB9B;
    opacity: 1;
    color: white;
    border-color: #73DB9B; }
  ._1aVSc._2j5aj {
    border: solid 1px #EBEBEB;
    color: #64C489;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 1; }
    ._1aVSc._2j5aj i {
      color: black; }
    ._1aVSc._2j5aj:hover {
      background-color: white;
      color: #64C489; }
    ._1aVSc._2j5aj:active, ._1aVSc._2j5aj.pMrnu {
      background-color: white;
      color: #64C489; }
  @media only screen and (max-width: 767px) {
    ._1aVSc {
      border-radius: 6px;
      color: #788EA9;
      font-size: 13px;
      border: 1px solid rgba(138, 150, 175, 0.5); } }

._2p0Gy {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

._1kD8w {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

._3J8Wl, .GHCNR {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #297BFF;
  background-color: white;
  color: #297BFF;
  line-height: 0 !important; }
  ._3J8Wl:hover, .GHCNR:hover {
    opacity: .6;
    background-color: white;
    color: #297BFF; }
  ._3J8Wl[disabled], .GHCNR[disabled] {
    opacity: .6;
    background-color: #297BFF;
    color: white; }
  @media only screen and (max-width: 767px) {
    ._3J8Wl, .GHCNR {
      border-radius: 4px;
      border-color: "unquote('#8a96af80')";
      color: #00B9FF; } }

.GHCNR {
  padding: 9px 20px !important; }

._3Tjg9 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #297BFF;
  background-color: #297BFF;
  padding: 18px 30px;
  color: white;
  line-height: 0 !important;
  height: 40px; }
  ._3Tjg9:hover {
    opacity: .6;
    background-color: #297BFF;
    color: white; }
  @media only screen and (max-width: 767px) {
    ._3Tjg9 {
      border-radius: 4px;
      border: solid 1px #00B9FF;
      background-color: #00B9FF; }
      ._3Tjg9:hover {
        background-color: #00B9FF; } }

._2diR9 {
  background-color: #EE6B6B;
  border: solid 1px #EE6B6B;
  color: white;
  line-height: 0 !important;
  height: 40px; }
  ._2diR9:hover, ._2diR9:focus {
    background-color: white;
    border: solid 1px #EE6B6B;
    color: #EE6B6B; }
  ._2diR9:active, ._2diR9.pMrnu {
    background-color: #EE6B6B;
    border: solid 1px #EE6B6B;
    color: white; }

._1D6aA {
  background-color: #6e87f5;
  border: solid 1px #6e87f5;
  color: white;
  line-height: 0 !important; }
  ._1D6aA:hover, ._1D6aA:focus {
    background-color: white;
    border: solid 1px #6e87f5;
    color: #6e87f5; }
  ._1D6aA.pMrnu, ._1D6aA:active {
    background-color: #6e87f5;
    border: solid 1px #6e87f5;
    color: white; }

.pDwQN {
  background-color: #4CB9F9;
  border: solid 1px #4CB9F9;
  color: white;
  line-height: 0 !important; }
  .pDwQN:hover, .pDwQN:focus {
    background-color: white;
    border: solid 1px #4CB9F9;
    color: #4CB9F9; }
  .pDwQN.pMrnu, .pDwQN:active {
    background-color: #4CB9F9;
    border: solid 1px #4CB9F9;
    color: white; }

._3LjHA {
  background-color: #21cba5;
  border: solid 1px #21cba5;
  color: white;
  line-height: 0 !important; }
  ._3LjHA:hover, ._3LjHA:focus {
    background-color: white;
    border: solid 1px #21cba5;
    color: #21cba5; }
  ._3LjHA.pMrnu, ._3LjHA:active {
    background-color: #21cba5;
    border: solid 1px #21cba5;
    color: white; }

._2J2rG {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  border: solid 1px #00B9FF;
  border-radius: 4px;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  color: rgba(0, 185, 255, 0.73);
  line-height: 20px !important; }
  ._2J2rG:hover {
    opacity: .6;
    background-color: transparent;
    color: rgba(0, 185, 255, 0.73); }
  ._2J2rG.x9tSL {
    font-size: 14px;
    padding: 15px;
    color: #00B9FF;
    line-height: 0 !important; }

.UvHqa {
  width: 7px;
  margin-left: 10px; }

._1WUHp {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  opacity: 1;
  z-index: 9999; }
  ._1WUHp._1CIZH {
    position: absolute !important; }
  ._1WUHp ._3eG1G {
    width: 100%;
    height: 100%;
    display: table;
    user-select: text; }
    ._1WUHp ._3eG1G ._2yi1U {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

._2dQf4 {
  width: 500px;
  height: 400px; }


._3zZ7Y {
  display: none !important; }

._3brcB {
  text-align: center;
  margin-top: 28px;
  justify-content: space-around; }
  ._3brcB ._1lMml {
    border-right: 1px solid rgba(48, 53, 63, 0.1); }
  ._3brcB a {
    margin: 0 10px; }
  ._3brcB ._1qB0l {
    font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px; }

._3MksF {
  padding: 0 10px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

.MtHnl {
  margin-bottom: 26px; }

.BDm0e {
  background: white;
  height: 100%; }

.oRM4e {
  height: calc(100vh - 145px);
  overflow-y: auto; }

._28hd5 {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px;
  position: relative;
  height: 100%; }

._1KX_q {
  display: flex;
  width: 100%; }

._1s6rw {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #3F4E66; }

._15WNX {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #525A6B; }

._3G4xT {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }

.WU8DN {
  background: white;
  min-width: 200px;
  width: 200px;
  height: 200px;
  overflow: hidden; }
  .WU8DN img {
    max-width: 200px;
    max-height: 200px;
    width: 100%; }

._3B_Kg {
  background: white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 8%;
  position: relative;
  height: 100%; }

.sB8Hr {
  padding: 12px;
  margin-left: 30px;
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

._1X98f {
  border-left: solid 1px rgba(48, 53, 63, 0.1);
  padding-left: 16px;
  min-height: 60px; }
  ._1X98f:first-child {
    border-left: none;
    padding-left: 0; }
  @media only screen and (max-width: 767px) {
    ._1X98f {
      border-left: none;
      padding-left: 0; } }

._113CP {
  font-size: 16px;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #3F4E66;
  letter-spacing: 0.37px;
  line-height: 22px; }

._2jXnv {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #525A6B;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  list-style: none;
  padding-left: 0; }

.f6a3c {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #525A6B;
  letter-spacing: 0.22px;
  text-align: left; }
  .f6a3c img {
    max-width: 100%;
    height: auto !important; }

._3-chP {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #2887F2;
  text-align: left;
  line-height: 22px; }

._3bQHG {
  position: fixed;
  right: 20px;
  bottom: 20px; }

._3P1M5 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  padding-left: 20px; }

.qgmSL {
  margin-left: -20px; }

._2DFu9 {
  padding-left: 20px; }

._1Wxxo {
  margin: 15px 0; }
  ._1Wxxo span {
    color: #8A96AF; }

.w7RVe {
  height: 54px;
  display: flex;
  align-items: center; }

._2BZTG {
  margin-top: 20px; }

._3_DBD {
  margin: 30px 0;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #30353F;
  font-size: 20px; }

._3KOPD {
  margin-right: 10px; }

._35aql {
  margin: 20px 0; }

._1rIT2 {
  padding: 0 7px; }

.JUHGi {
  padding: 0 7px; }

._12gZU {
  padding: 20px; }

._1FbwP {
  padding: 0; }

._2BGgy {
  height: calc(100vh - 51px);
  background: white;
  border-right: 1px solid #d4d4d4; }

._3ybTC {
  overflow-y: auto; }

._1KmSy {
  margin-bottom: 5px; }
  ._1KmSy label {
    font-size: 14px; }

._3tQmF {
  height: calc(100vh - 71px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  ._3tQmF h3 {
    font-size: 28px; }

._3kGbe {
  display: flex;
  justify-content: center;
  padding: 25px 0; }

._1A8Kx {
  flex: 0.6 !important;
  padding: 10px 20px; }
  ._1A8Kx button {
    margin: 10px 0; }

.ggYGQ {
  flex: 1 !important;
  padding: 0 20px; }
  .ggYGQ form div {
    display: flex;
    padding: 10px 0; }
    .ggYGQ form div label {
      flex-basis: 120px; }
    .ggYGQ form div input,
    .ggYGQ form div select,
    .ggYGQ form div textarea {
      flex: 1; }

._2sX02 {
  list-style: none;
  padding: 0px 0;
  margin: 0; }
  ._2sX02 li {
    cursor: pointer;
    float: left;
    margin-left: 10px; }
    ._2sX02 li:hover {
      text-decoration: underline; }

._2_raz {
  background-color: #121920;
  display: flex;
  align-items: center;
  padding: 2px 10px; }
  ._2_raz div {
    font-size: 18px;
    color: white;
    top: 10px;
    position: relative;
    left: 10px; }

._3qf7X {
  width: 30px;
  height: 30px; }

._31P-U {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 104px); }

._1LKz9 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

._1RuQB {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 380px); }
  @media only screen and (max-width: 767px) {
    ._1RuQB {
      min-height: calc(100vh - 220px); } }

._36taG {
  text-align: left;
  margin-top: 30px;
  padding-top: 20px;
  max-width: 1024px; }
  ._36taG h1 {
    font-family: "RobotoSlab Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 48px;
    color: #FF6E75;
    letter-spacing: 1px;
    padding-bottom: 20px; }
    @media only screen and (max-width: 991px) {
      ._36taG h1 {
        font-size: 38px; } }
  ._36taG h2 {
    font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    color: #20284B;
    letter-spacing: 0; }
    @media only screen and (max-width: 991px) {
      ._36taG h2 {
        font-size: 20px; } }
  ._36taG h3 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    color: #30353F;
    letter-spacing: 0.5px;
    line-height: 28px; }
    @media only screen and (max-width: 991px) {
      ._36taG h3 {
        font-size: 12px; } }
  ._36taG ._1ywb_ {
    margin-top: 10px; }
    @media only screen and (max-width: 767px) {
      ._36taG ._1ywb_ {
        border-radius: 40px; } }
  ._36taG img {
    height: auto;
    width: auto; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      ._36taG img {
        width: 90%; } }
    @media only screen and (max-width: 767px) {
      ._36taG img {
        width: 80%; } }
  @media only screen and (max-width: 767px) {
    ._36taG {
      padding: 10px;
      text-align: center; } }

.z1eWX {
  padding-top: 80px; }

