.qUEZU {
  background-color: #f9fafc;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  top: 0;
  padding: 20px 0; }
  @media only screen and (max-width: 991px) {
    .qUEZU {
      margin: 0;
      padding: 20px 0 0; } }

._2wUhD {
  background: transparent;
  padding: 0; }
  @media only screen and (max-width: 991px) {
    ._2wUhD {
      height: 46px;
      margin: 0; } }

._1GQax {
  background: transparent;
  margin: 0 auto;
  padding: 0 7px;
  width: 100%; }
  @media (min-width: 576px) {
    ._1GQax {
      width: 540px; } }
  @media (min-width: 768px) {
    ._1GQax {
      width: 720px; } }
  @media (min-width: 992px) {
    ._1GQax {
      width: 960px; } }
  @media (min-width: 1200px) {
    ._1GQax {
      width: 1155px; } }
  @media only screen and (max-width: 767px) {
    ._1GQax {
      margin-top: 6px; } }

._1YDiP {
  font-size: 14px;
  padding-left: 17px;
  height: auto;
  line-height: 14px;
  list-style: none;
  border-left: solid 3px transparent; }
  ._1YDiP:hover, ._1YDiP._2lprE {
    background-color: #EDF3F4;
    border-left: solid 3px #267BFF; }

._24-zI, .hPP31 li {
  font-size: 14px;
  padding-left: 17px;
  height: 47px;
  line-height: 37px;
  list-style: none;
  border-left: solid 3px transparent;
  width: 100%; }
  ._24-zI:first-child, .hPP31 li:first-child {
    border-radius: 6px 6px 0 0; }
  ._24-zI:last-child, .hPP31 li:last-child {
    border-radius: 0 0 6px 6px; }
  ._24-zI:hover, .hPP31 li:hover, ._24-zI._2lprE, .hPP31 li._2lprE {
    background-color: #EDF3F4;
    border-left: solid 3px #267BFF; }
  ._24-zI div, .hPP31 li div {
    padding-left: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
    height: 47px;
    line-height: 37px;
    list-style: none;
    border-left: solid 3px transparent; }
    ._24-zI div:hover, .hPP31 li div:hover, ._24-zI div._2lprE, .hPP31 li div._2lprE {
      background-color: #EDF3F4; }

.hPP31 {
  background: white;
  width: 282px;
  border-radius: 6px;
  box-shadow: 0 4px 7px rgba(5, 53, 134, 0.17);
  padding: 0; }

.REHdq h3 {
  color: #37414B;
  font-size: 16px;
  text-align: center;
  line-height: 2;
  font-family: "Poppins SemiBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  letter-spacing: 1.78px; }

._2IAsE {
  z-index: 99;
  cursor: pointer;
  position: relative;
  display: block;
  outline: 0;
  height: 74px;
  float: left; }
  @media only screen and (max-width: 991px) {
    ._2IAsE {
      height: 36px;
      position: absolute;
      left: 8px; } }

._2huEl {
  background: transparent;
  border: 0;
  float: right;
  line-height: 2;
  padding-top: 6px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._2huEl {
      padding-top: 0; } }

._27GOD {
  border: solid 1px transparent !important;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  text-align: center;
  transition: none;
  line-height: 1;
  margin-left: 6px;
  padding-right: 0;
  top: 2px !important; }
  ._27GOD ._1oAVW {
    color: #297BFF !important;
    line-height: 2;
    text-align: right;
    margin-right: 2px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._27GOD {
      font-size: 11px; } }

._1_5ot {
  border: solid 1px transparent !important;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #30353F !important;
  text-align: center;
  padding: 7px 13px;
  transition: none;
  line-height: 1;
  margin: 0 6px; }
  ._1_5ot ._1W_n_ {
    color: #30353F !important; }
  ._1_5ot ._3KFRQ {
    margin-left: 5px;
    width: 12px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      ._1_5ot ._3KFRQ {
        padding-left: 0; } }
  ._1_5ot > a {
    color: #30353F !important; }
  ._1_5ot:hover, ._1_5ot._2lprE {
    border: solid 1px #889398 !important;
    border-radius: 15px;
    color: #30353F !important; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._1_5ot {
      font-size: 11px;
      padding: 5px 10px;
      margin: 0 3px; } }

._1rrrh {
  background: white;
  display: block;
  top: 0;
  transition: all 0.8s !important;
  width: 100% !important;
  z-index: 1110 !important; }

._3Lu8z {
  line-height: 3;
  padding-top: 2px; }

.xngRp {
  height: 26px;
  vertical-align: top;
  width: 26px; }

._39Np5 {
  padding: 15px; }

._2elu_ {
  float: right;
  color: #00B9FF;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
  margin: 10px; }

._2l4ia {
  width: 83px;
  text-decoration: none !important; }

._1c5lG {
  border: none;
  padding-top: 40px; }

.X8lBH._1a8tS {
  background: transparent; }
  .X8lBH._1a8tS a {
    color: #1890ff; }
  .X8lBH._1a8tS:after {
    display: none; }

.X8lBH a {
  color: #333333; }

.X8lBH._37RWA a {
  color: #1890ff; }

.X8lBH div {
  text-transform: capitalize; }

._2e-Oz {
  background: transparent !important; }
  ._2e-Oz::after {
    display: none; }
  ._2e-Oz._2oBuw {
    background: transparent; }
    ._2e-Oz._2oBuw a {
      color: #1890ff; }

._3Hy1x {
  display: none !important; }

.PXzX2 {
  border: none !important;
  outline: none; }
  .PXzX2 ._1oAVW {
    color: #297BFF !important;
    line-height: 2.3;
    text-align: right;
    margin-right: 2px; }
    .PXzX2 ._1oAVW:hover, .PXzX2 ._1oAVW:focus, .PXzX2 ._1oAVW:active {
      opacity: 0.9; }

._2_sqa {
  background: white;
  width: 282px;
  border-radius: 6px;
  box-shadow: 0 4px 7px rgba(5, 53, 134, 0.17);
  padding: 0; }
  ._2_sqa li {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #646E83;
    list-style: none;
    border-left: solid 3px transparent; }
    ._2_sqa li:first-child {
      border-radius: 6px 6px 0 0; }
    ._2_sqa li:last-child {
      border-radius: 0 0 6px 6px; }
    ._2_sqa li:hover, ._2_sqa li._2lprE {
      background-color: #EDF3F4;
      border-left: solid 3px #267BFF; }

.i_igk {
  z-index: 1111; }

._1Ts-h {
  font-size: 24px;
  width: 24px; }

._3kM8k {
  width: 270px;
  z-index: 1051 !important; }
  ._3kM8k._2Pwql > div {
    border-left: solid 3px transparent;
    color: #646E83;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 37px;
    list-style: none;
    width: 100%; }
    ._3kM8k._2Pwql > div:hover, ._3kM8k._2Pwql > div._2lprE {
      background-color: #EDF3F4;
      border-left: solid 3px #267BFF; }
  ._3kM8k ul {
    padding: 0; }

.fTUMU {
  padding-top: 5px; }
  .fTUMU h3 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #646E83;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .fTUMU h4 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    color: #788EA9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

._201WA {
  border-radius: 50%; }

._6sC_d {
  background: #8A96AF;
  border-radius: 50%;
  height: 35px;
  width: 35px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._6sC_d {
      height: 30px;
      width: 30px; } }

.uUYMc {
  background: #EE6B6B;
  color: white;
  border-radius: 50%;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 36px;
  width: 36px;
  font-size: 18px;
  margin: 0 auto; }

._2htTF {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #646E83;
  text-align: center;
  margin-bottom: 10px; }

._1_YaS {
  display: flex;
  justify-content: center;
  padding: 40px 0; }
  @media only screen and (max-width: 991px) {
    ._1_YaS {
      padding: 30px 15px; } }

._3nOjl {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #297BFF;
  margin: 0 auto;
  width: 30%;
  text-align: center; }
  ._3nOjl:focus, ._3nOjl:hover, ._3nOjl:active {
    color: #297BFF;
    text-decoration: underline; }
  @media only screen and (max-width: 767px) {
    ._3nOjl {
      color: #00B9FF; }
      ._3nOjl:focus, ._3nOjl:hover, ._3nOjl:active {
        color: #00B9FF;
        text-decoration: underline; } }

.VuFvd {
  display: inline-block;
  width: 42px;
  height: 42px; }
  .VuFvd:hover, .VuFvd:active, .VuFvd:focus {
    background-color: transparent; }

._3gi9f {
  display: none !important; }

._1DN0K {
  margin: 20px auto;
  min-height: calc(100vh - 290px);
  width: 100%; }
  @media (min-width: 576px) {
    ._1DN0K {
      width: 540px; } }
  @media (min-width: 768px) {
    ._1DN0K {
      width: 720px; } }
  @media (min-width: 992px) {
    ._1DN0K {
      width: 960px; } }
  @media (min-width: 1200px) {
    ._1DN0K {
      width: 1155px; } }
  @media only screen and (min-width: 992px) {
    ._1DN0K {
      min-height: calc(100vh - 295px); } }
  @media only screen and (max-width: 767px) {
    ._1DN0K {
      margin: 0 auto; } }

._2Gaxe {
  background: #f9fafc;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

._2wogh {
  border-top: 1px solid rgba(48, 53, 63, 0.1); }

._1q430 {
  display: none; }

._1zWDu {
  font-family: "RobotoSlab Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 28px;
  margin-bottom: 15px; }

.TbvMZ {
  color: #8A96AF;
  font-family: "RobotoSlab Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  margin-bottom: 20px; }

._3Qzf4 {
  background: transparent;
  margin: 0 auto;
  padding: 0 7px;
  width: 100%; }
  @media (min-width: 576px) {
    ._3Qzf4 {
      width: 540px; } }
  @media (min-width: 768px) {
    ._3Qzf4 {
      width: 720px; } }
  @media (min-width: 992px) {
    ._3Qzf4 {
      width: 960px; } }
  @media (min-width: 1200px) {
    ._3Qzf4 {
      width: 1155px; } }
  @media only screen and (max-width: 767px) {
    ._3Qzf4 {
      margin: 5px auto 0; } }

._1ZwXx {
  border-radius: 30px;
  border: 1px solid transparent;
  box-shadow: none;
  height: 54px;
  padding-left: 20px;
  padding-bottom: 5px;
  width: 100%;
  z-index: 2;
  font-size: 15px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #20284B;
  background: transparent; }
  ._1ZwXx:focus, ._1ZwXx:hover {
    box-shadow: none;
    border: 1px solid transparent; }
  @media only screen and (max-width: 767px) {
    ._1ZwXx {
      border-radius: 20px;
      height: 36px;
      font-size: 14px;
      padding-left: 10px; } }
  @media only screen and (max-width: 320px) {
    ._1ZwXx {
      font-size: 12px;
      padding-left: 14px; } }

._2NreR {
  position: absolute;
  box-shadow: none;
  right: 8px;
  top: 8px;
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  z-index: 3; }
  ._2NreR:focus, ._2NreR:hover, ._2NreR:active {
    background: transparent;
    border: none; }
  ._2NreR img {
    width: 40px;
    height: 40px; }
    @media only screen and (max-width: 767px) {
      ._2NreR img {
        height: 30px;
        width: 30px; } }
  @media only screen and (max-width: 767px) {
    ._2NreR {
      height: 32px;
      width: 32px;
      top: 3px;
      right: 3px; } }

._3l0MM {
  position: relative;
  margin-bottom: 5px;
  width: 55%;
  height: 54px;
  z-index: 3; }
  @media only screen and (max-width: 991px) {
    ._3l0MM {
      width: 81%; } }

.gOKXA {
  display: block; }

._2zLFA {
  background: transparent;
  width: 100%;
  z-index: 2;
  border-radius: 30px;
  border: 0;
  min-height: 50px;
  max-height: 420px;
  overflow-y: auto; }
  ._2zLFA ul {
    list-style: none;
    margin: 0 20px;
    padding: 0;
    border-top: 1px solid #eee; }
    ._2zLFA ul li {
      padding: 8px 0; }
      ._2zLFA ul li._2oc-W,
      ._2zLFA ul li a {
        font-size: 14px;
        font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: #30353F; }
  @media only screen and (max-width: 767px) {
    ._2zLFA {
      border-radius: 20px;
      min-height: 40px; } }

._3Gs1w {
  display: none !important; }

.l8FwV {
  background: white;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 16px -6px rgba(63, 78, 102, 0.07);
  border: 1px solid #ced2d8;
  position: absolute; }
  @media only screen and (max-width: 767px) {
    .l8FwV {
      border-radius: 20px; } }

._3rkds {
  position: absolute;
  right: 55px;
  z-index: 3;
  font-size: 28px;
  top: 12px;
  color: #8A96AF; }
  @media only screen and (max-width: 767px) {
    ._3rkds {
      right: 39px;
      font-size: 24px;
      top: 6px; } }

._2rBxX {
  padding: 0 7px;
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px; }

.UtJD4 {
  display: none; }

._1YJ59 {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #30353F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 8px;
  margin: 18px 8px 0; }
  @media only screen and (max-width: 767px) {
    ._1YJ59 {
      margin: 2px 8px 0; } }

._1_qe5 {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #297BFF;
  margin: 13px 3px 0 8px;
  border-bottom: solid 1px #297BFF;
  position: absolute;
  right: 0;
  bottom: 9px; }
  @media only screen and (max-width: 767px) {
    ._1_qe5 {
      font-size: 14px;
      border-bottom: none;
      margin: 8px;
      color: #00B9FF;
      text-transform: capitalize; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    ._1_qe5 {
      right: 27px; } }
  ._1_qe5._1p6RS {
    bottom: unset; }

.hxTFn {
  margin-top: 59px;
  margin-bottom: 78px; }
  .hxTFn i {
    vertical-align: 0;
    color: #889398; }

.MOQGh {
  top: 60px !important;
  background: #f9fafc !important;
  height: 700px !important; }
  @media only screen and (max-width: 767px) {
    .MOQGh {
      height: 1000px !important; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .MOQGh {
      height: 1100px !important; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .MOQGh {
      height: 1440px !important; } }

._2KuDl {
  text-align: center; }

._3H6Hx {
  border-radius: 40px;
  padding: 18px 30px;
  line-height: 0;
  cursor: pointer;
  z-index: 2; }

.Aa_av {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 0 !important; }
  .Aa_av:active, .Aa_av.pMrnu {
    opacity: .6; }

._1aVSc {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  border: solid 1px #8A96AF;
  color: #8A96AF;
  padding: 0 10px;
  border-radius: 15px; }
  ._1aVSc:focus {
    border: solid 1px #8A96AF;
    color: #8A96AF; }
  ._1aVSc:hover {
    background-color: #73DB9B;
    opacity: .6;
    color: white;
    border-color: #73DB9B; }
    @media only screen and (max-width: 991px) {
      ._1aVSc:hover {
        border: solid 1px #8A96AF;
        color: #8A96AF;
        opacity: 1;
        background-color: white; } }
  ._1aVSc.pMrnu {
    background-color: #73DB9B;
    opacity: 1;
    color: white;
    border-color: #73DB9B; }
  ._1aVSc._2j5aj {
    border: solid 1px #EBEBEB;
    color: #64C489;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 1; }
    ._1aVSc._2j5aj i {
      color: black; }
    ._1aVSc._2j5aj:hover {
      background-color: white;
      color: #64C489; }
    ._1aVSc._2j5aj:active, ._1aVSc._2j5aj.pMrnu {
      background-color: white;
      color: #64C489; }
  @media only screen and (max-width: 767px) {
    ._1aVSc {
      border-radius: 6px;
      color: #788EA9;
      font-size: 13px;
      border: 1px solid rgba(138, 150, 175, 0.5); } }

._2p0Gy {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

._1kD8w {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

._3J8Wl, .GHCNR {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #297BFF;
  background-color: white;
  color: #297BFF;
  line-height: 0 !important; }
  ._3J8Wl:hover, .GHCNR:hover {
    opacity: .6;
    background-color: white;
    color: #297BFF; }
  ._3J8Wl[disabled], .GHCNR[disabled] {
    opacity: .6;
    background-color: #297BFF;
    color: white; }
  @media only screen and (max-width: 767px) {
    ._3J8Wl, .GHCNR {
      border-radius: 4px;
      border-color: "unquote('#8a96af80')";
      color: #00B9FF; } }

.GHCNR {
  padding: 9px 20px !important; }

._3Tjg9 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border: solid 1px #297BFF;
  background-color: #297BFF;
  padding: 18px 30px;
  color: white;
  line-height: 0 !important;
  height: 40px; }
  ._3Tjg9:hover {
    opacity: .6;
    background-color: #297BFF;
    color: white; }
  @media only screen and (max-width: 767px) {
    ._3Tjg9 {
      border-radius: 4px;
      border: solid 1px #00B9FF;
      background-color: #00B9FF; }
      ._3Tjg9:hover {
        background-color: #00B9FF; } }

._2diR9 {
  background-color: #EE6B6B;
  border: solid 1px #EE6B6B;
  color: white;
  line-height: 0 !important;
  height: 40px; }
  ._2diR9:hover, ._2diR9:focus {
    background-color: white;
    border: solid 1px #EE6B6B;
    color: #EE6B6B; }
  ._2diR9:active, ._2diR9.pMrnu {
    background-color: #EE6B6B;
    border: solid 1px #EE6B6B;
    color: white; }

._1D6aA {
  background-color: #6e87f5;
  border: solid 1px #6e87f5;
  color: white;
  line-height: 0 !important; }
  ._1D6aA:hover, ._1D6aA:focus {
    background-color: white;
    border: solid 1px #6e87f5;
    color: #6e87f5; }
  ._1D6aA.pMrnu, ._1D6aA:active {
    background-color: #6e87f5;
    border: solid 1px #6e87f5;
    color: white; }

.pDwQN {
  background-color: #4CB9F9;
  border: solid 1px #4CB9F9;
  color: white;
  line-height: 0 !important; }
  .pDwQN:hover, .pDwQN:focus {
    background-color: white;
    border: solid 1px #4CB9F9;
    color: #4CB9F9; }
  .pDwQN.pMrnu, .pDwQN:active {
    background-color: #4CB9F9;
    border: solid 1px #4CB9F9;
    color: white; }

._3LjHA {
  background-color: #21cba5;
  border: solid 1px #21cba5;
  color: white;
  line-height: 0 !important; }
  ._3LjHA:hover, ._3LjHA:focus {
    background-color: white;
    border: solid 1px #21cba5;
    color: #21cba5; }
  ._3LjHA.pMrnu, ._3LjHA:active {
    background-color: #21cba5;
    border: solid 1px #21cba5;
    color: white; }

._2J2rG {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  border: solid 1px #00B9FF;
  border-radius: 4px;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  color: rgba(0, 185, 255, 0.73);
  line-height: 20px !important; }
  ._2J2rG:hover {
    opacity: .6;
    background-color: transparent;
    color: rgba(0, 185, 255, 0.73); }
  ._2J2rG.x9tSL {
    font-size: 14px;
    padding: 15px;
    color: #00B9FF;
    line-height: 0 !important; }

.UvHqa {
  width: 7px;
  margin-left: 10px; }

._2zuX5 {
  border-radius: 6px;
  width: 213px;
  height: 332px;
  margin: 10px 9px;
  background-color: white;
  box-shadow: 0 6px 8px rgba(175, 191, 222, 0.2);
  position: relative; }
  ._2zuX5:hover {
    box-shadow: 0 6px 8px rgba(175, 191, 222, 0.2); }
  @media only screen and (max-width: 767px) {
    ._2zuX5 {
      background: transparent;
      border: none;
      box-shadow: none;
      display: flex;
      flex-direction: row;
      height: 100px;
      width: 100%;
      padding: 10px;
      margin: 0; }
      ._2zuX5:hover {
        box-shadow: none; } }

._37ABw {
  height: 150px; }
  @media only screen and (max-width: 767px) {
    ._37ABw {
      height: 80px; } }

._8CrWB {
  padding: 9px 12px;
  height: 171px;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    ._8CrWB {
      padding: 0;
      margin-left: 10px;
      height: 80px; } }

._3DP3G,
.R9Rxf {
  background-color: #f0f0f0;
  border-radius: 6px 6px 0 0;
  height: 163px;
  width: 213px;
  z-index: 2; }
  @media only screen and (max-width: 767px) {
    ._3DP3G,
    .R9Rxf {
      height: auto;
      background: transparent;
      width: 80px;
      border-radius: 6px; } }

.I5B_i {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #30353F;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  @media only screen and (max-width: 767px) {
    .I5B_i {
      color: #00B9FF;
      font-size: 15px; } }

.jTE-l {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #8A96AF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .jTE-l a {
    color: #297BFF; }
  @media only screen and (max-width: 767px) {
    .jTE-l {
      display: none; } }

.oRQfu {
  height: 100%; }

.kGxO_ {
  width: 100%; }

.EQkW2 {
  text-align: right;
  padding-top: 20px; }
  @media only screen and (max-width: 767px) {
    .EQkW2 {
      display: inline-flex;
      justify-content: space-evenly; } }

.O6_-A {
  font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #8A96AF;
  position: absolute;
  bottom: 0; }
  .O6_-A a {
    color: #8A96AF; }
  .O6_-A span {
    display: inline-block;
    width: auto;
    min-width: 33%; }
    .O6_-A span img {
      height: 18px;
      width: 24px;
      padding-right: 6px;
      padding-bottom: 4px; }
    .O6_-A span i {
      font-size: 18px;
      margin-right: 5px; }

._2Kx99 {
  height: 60px;
  overflow: hidden; }
  ._2Kx99 a {
    font-family: "Poppins Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    color: #30353F;
    margin: 0;
    word-break: break-word;
    height: 60px;
    text-decoration: none;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      ._2Kx99 a {
        color: #37414B;
        line-height: 19px;
        word-break: break-word;
        height: auto; } }

._2YMHd {
  position: absolute;
  top: 42px;
  left: 72px; }
  @media only screen and (max-width: 767px) {
    ._2YMHd {
      top: 10px;
      left: 9px; } }

._2bN4I {
  color: #ccc;
  font-size: 24px;
  margin-left: 10px; }

._3Zhbv {
  width: calc(100% - 60px);
  padding: 12px 0; }

._2kv4u, .fMGyi, ._33Z1- {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px; }

.fMGyi {
  color: #297BFF !important; }
  .fMGyi:focus {
    text-decoration: none; }
  @media only screen and (max-width: 767px) {
    .fMGyi {
      color: #00B9FF !important; } }
  @media only screen and (max-width: 320px) {
    .fMGyi {
      font-size: 16px; } }

._33Z1- {
  color: #30353F;
  display: inline;
  word-break: break-word; }
  @media only screen and (max-width: 767px) {
    ._33Z1- {
      color: #333333; } }
  @media only screen and (max-width: 320px) {
    ._33Z1- {
      font-size: 16px; } }

._2164r {
  font-size: 20px; }

.L3iIK {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #297BFF;
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 0; }
  .L3iIK:hover, .L3iIK:active, .L3iIK:focus {
    background: transparent; }
  @media only screen and (max-width: 767px) {
    .L3iIK {
      color: #00B9FF; } }

._1Le73 {
  padding: 26px 0 0;
  max-width: calc(100% - 100px); }
  ._1Le73 a {
    margin-right: 10px; }

._3YUQw {
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #30353F; }
  ._3YUQw ._1qofL {
    height: 17px;
    margin-right: 6px;
    width: 16px; }
  ._3YUQw .OGUki {
    height: 6px;
    width: 12px;
    margin-left: 10px; }
  ._3YUQw:active, ._3YUQw:hover, ._3YUQw:focus {
    color: #30353F;
    text-decoration: none; }

._2rr1T {
  background: white;
  width: 282px;
  border-radius: 6px;
  box-shadow: 0 4px 7px rgba(5, 53, 134, 0.17);
  margin-top: 10px;
  padding: 0; }
  ._2rr1T li {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #646E83;
    padding-left: 17px;
    height: 47px;
    line-height: 37px;
    list-style: none;
    border-left: solid 3px transparent; }
    ._2rr1T li:first-child {
      border-radius: 6px 6px 0 0; }
    ._2rr1T li:last-child {
      border-radius: 0 0 6px 6px; }
    ._2rr1T li:hover, ._2rr1T li._3NXIZ {
      background-color: #EDF3F4;
      border-left: solid 3px #297BFF; }

.mv67h {
  padding: 12px 0;
  position: absolute;
  right: 7px;
  top: 4px;
  margin-top: 15px; }
  @media only screen and (max-width: 767px) {
    .mv67h {
      right: 10px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .mv67h {
      right: 34px; } }

._2K1ZG {
  margin-top: 10px; }
  @media only screen and (max-width: 767px) {
    ._2K1ZG {
      border-radius: 40px; } }

._21FFR {
  height: 200px;
  padding-bottom: 40px; }

._1N4uX {
  margin-right: 30px;
  border-color: #8A96AF; }

.-jHG6 {
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #30353F;
  overflow: auto; }

._2aGnI {
  margin-right: 20px;
  border-color: #8A96AF; }

._1AlwZ {
  padding: 5px;
  margin-bottom: 5px; }
  ._1AlwZ label,
  ._1AlwZ input,
  ._1AlwZ textarea {
    color: #30353F;
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px; }


._1WUHp {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  opacity: 1;
  z-index: 9999; }
  ._1WUHp._1CIZH {
    position: absolute !important; }
  ._1WUHp ._3eG1G {
    width: 100%;
    height: 100%;
    display: table;
    user-select: text; }
    ._1WUHp ._3eG1G ._2yi1U {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

._2dQf4 {
  width: 500px;
  height: 400px; }

._35JSU {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  height: 100%; }
  ._35JSU._3e-UU {
    min-height: 240px; }
  ._35JSU h3 {
    font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #646E83;
    padding: 5px;
    text-align: center;
    white-space: normal; }
  ._35JSU ._2wkyU {
    font-size: 15px;
    display: inline; }
  ._35JSU ._19ual {
    margin-top: 71px;
    margin-bottom: -10px;
    font-size: 20px;
    text-align: center; }
  ._35JSU ._1uznX {
    margin-left: 50px;
    font-size: 150%;
    cursor: pointer; }
  ._35JSU ._2SANc {
    margin-left: 50px;
    font-size: 150%;
    cursor: none; }
  ._35JSU ._3tRog {
    padding: 0;
    vertical-align: top; }
  ._35JSU ._1uznX h4 {
    font-size: 60%; }
  ._35JSU ._1Z6S- {
    margin-top: 70px;
    font-size: 23px; }
  ._35JSU ._2Iy1s {
    width: 80%;
    height: 200px;
    text-align: center; }
  ._35JSU .zCfjh {
    float: left;
    width: 50%;
    height: 100%; }
    ._35JSU .zCfjh h2 {
      text-align: left;
      margin-left: 27px; }
    @media only screen and (max-width: 767px) {
      ._35JSU .zCfjh {
        width: 100%; } }
  ._35JSU .Ozg0U {
    float: right;
    width: 50%;
    height: 100%; }
    ._35JSU .Ozg0U h2 {
      text-align: left;
      margin-left: 27px; }
    @media only screen and (max-width: 767px) {
      ._35JSU .Ozg0U {
        width: 100%;
        margin-top: 80px; } }
  ._35JSU ._3uDMm {
    position: relative;
    padding: .2em;
    text-align: left; }
  ._35JSU ol.QwXW1 {
    counter-reset: li; }
  @media only screen and (max-width: 767px) {
    ._35JSU {
      margin-bottom: 300px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._35JSU {
      margin-bottom: 100px; } }

._35JSU h2,
._35JSU h3 {
  margin-top: 20px; }

._3Cqhh {
  position: absolute;
  left: -50px;
  top: 205px;
  background: #64C489;
  border: solid 1px transparent;
  border-radius: 40px 0 0 40px;
  color: white;
  height: 40px;
  padding: 0 10px;
  width: 50px; }
  ._3Cqhh.ASuP3 {
    top: 100px; }
  ._3Cqhh._2-UfT {
    top: 73px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      ._3Cqhh._2-UfT {
        top: 168px; } }
  ._3Cqhh:hover, ._3Cqhh:active, ._3Cqhh:focus {
    background: #64C489;
    border: solid 1px transparent;
    border-radius: 40px 0 0 40px;
    color: white;
    height: 40px;
    width: 50px; }
  ._3Cqhh img {
    width: 24px;
    height: 24px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._3Cqhh {
      top: 166px; } }
  @media only screen and (max-width: 767px) {
    ._3Cqhh {
      height: 34px;
      padding: 0;
      width: 40px;
      left: -40px;
      top: 76px; }
      ._3Cqhh.ASuP3 {
        top: 5px; }
      ._3Cqhh:hover, ._3Cqhh:active, ._3Cqhh:focus {
        height: 35px;
        width: 40px; } }

._3QUgG {
  background: white;
  border: 1px solid #64C489;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  display: block;
  top: 0;
  transition: all 0.8s !important;
  width: 330px !important;
  z-index: 999 !important; }
  @media only screen and (max-width: 767px) {
    ._3QUgG {
      width: 100% !important; } }

._3vg51 {
  background: rgba(0, 0, 0, 0.15) !important;
  left: 0;
  top: 0;
  z-index: 998 !important; }

._VXUY {
  color: #30353F;
  font-family: "RobotoSlab Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  float: left; }

._36ubE h3 {
  color: #37414B;
  font-size: 16px;
  text-align: center;
  line-height: 2;
  margin: 0;
  font-family: "Poppins SemiBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.mJakv {
  padding: 13px 30px 87px; }
  @media only screen and (max-width: 767px) {
    .mJakv {
      padding: 15px 15px 100px; } }

._2VqQ6 {
  cursor: pointer;
  float: right;
  margin-top: 10px;
  width: 10px;
  height: 10px; }

._2p25F {
  cursor: pointer;
  float: right;
  margin-top: 7px;
  margin-right: -4px;
  width: 12px;
  height: 12px; }

._2YWqI {
  width: 100%; }

._33ORW {
  width: 100%;
  margin: 10px 0; }

._19QEM {
  color: #30353F;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px; }

._1sj29 {
  margin: 10px 0; }
  @media only screen and (max-width: 991px) {
    ._1sj29 {
      background: transparent;
      margin: 5px 0; } }

._28gtK {
  margin: 9px 0; }

._2WOsr {
  margin-right: 10px;
  margin-bottom: 10px; }

.jixAb {
  margin-right: 30px;
  border-color: #8A96AF;
  padding: 18px 36px; }
  @media only screen and (max-width: 767px) {
    .jixAb {
      text-transform: uppercase; } }

._25I-J {
  padding: 18px 36px; }
  @media only screen and (max-width: 767px) {
    ._25I-J {
      text-transform: uppercase; } }

.E3Scy {
  background: white;
  border-top: 1px solid #e8e8e8;
  bottom: 0;
  margin: 0;
  position: fixed;
  padding: 20px 0 20px 0;
  right: 3px;
  text-align: center;
  width: 324px;
  z-index: 2; }
  @media only screen and (max-width: 767px) {
    .E3Scy {
      width: 100%; } }

._24Xu8 {
  display: none !important; }

